html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
}

img:hover {
  transform: 1:1.25;
}

body {
    color: #ebebeb;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #1f1e1e;
    line-height: 1.2;
}
p {
    margin-top: 10px;
    margin-bottom: .67em;
    color: #9e9e9e;
}
nav {
    display: flex;
    flex-direction: row;
}
nav, footer {
      background-color: #ebebeb; /*Light grey*/
}

/*-- Main Menu Styles--*/
nav ul {
    width: 100%;
    list-style: none;
    padding: 0em;
    margin-top: 0;
    margin-bottom: 0;
  }
  nav a:link, nav a:visited {
    color: #1f1e1e;
  }
  nav a:hover,  nav a:active  {
    color: #000000;
  }
  nav a.active {
    color: #ebebeb;
    background-color: #1f1e1e;
    width: 10ch;
    height: 100%;
  }

  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #404040;
    color: #ebebeb;
    transition-duration: 0.2s;
    cursor: pointer;
  }

/*-- Hero Unit Styles--*/
header {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: 0;
  }
  header img {
    width: 100%;
    height: 425px;
    object-fit: cover;
    margin: auto;
  }
  header h1 {
    margin: auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .small {
    margin-top: 0em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: smaller;
  }
  .large {
    margin-top: 1em;
    font-weight: 1200;
    font-family: 'Lato', sans-serif;
    font-size: larger;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  button {
    border: none;
    color: #1f1e1e;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 35px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

/*-- Banner below hero Unit Styles--*/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
    text-align: center;
    background-color: #1f1e1e; /*dark grey*/
    margin: 0;
}

@media screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

/*--Article Styles--*/
.artChunks {
  display: flex;
  padding: 2em;
  flex-direction: row;
  background-color: #1f1e1e;
}

article figure {
  display: flex;  
  flex-direction: column;
  width: 20%;
  margin: 2.5% 5% 2.5% 12.5%;
  /*aspect-ratio: 1 / 1; cant get this to work, image not covering */
  }

  article figure:hover {
      transform: scale(1.025);
      transition-duration: 0.5s;
  }

  .artFigText{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2.5% 7.5% 0% 2.5%;
    float: left;
  }

  h2 {
    margin-bottom: 0px;
  }

@media screen and (max-width: 1000px) {
  .artChunks {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  article figure {
    margin: 0 0 1em 0;
  }

  .artFigText{
    margin: 0 0 0 0;
  }
}

.learnMore{
text-align: center;
background-color: #1f1e1e;
padding: 0.7em 0 0 0;
display: flex;
flex-direction: column;
}

.learnMoreBody {
  display: flex;
  flex-direction: row;
}

.learnMoreText{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
  margin: 0% 5% 0% 12.5%;
  text-align: left;
}

.learnMoreList {
  width: 35%;
  margin: 1% 7.5% 0% 5%;
  text-align: left;
  color: #9e9e9e;
}

.formHeader{
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.1em 1em 3em 1em;

  & > input {
    flex: 1 1 10ch;
    margin: 0.5rem;

    &[type='email'] {
      flex: 3 1 30ch;
    }
  }
}

footer{
  padding: 0.6em;
  text-align: center;
}

h4 {
  color: #1f1e1e;
}
