html {
	font-size: 62.5%;
}
img{
	width: 100%;
	height: auto;
}
body {
    color:rgb(95, 95, 95);
    font-size: 1.6rem;
    font-family: 'Gentium Book Basic', serif;
}
p {
    margin-bottom: .67em;
    color:rgb(190, 158, 110);
}
nav {
    display: flex;
    flex-direction: row;
}
nav, footer {
      background-color:rgb(190, 158, 110);
}

/*-- Main Menu Styles--*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  nav a:link, nav a:visited {
    color: #e6e6e6;
    text-decoration: none;
  }
  nav a:hover, nav a:active  {
    color: #ffffff;
    text-decoration: underline;
  }
  nav a.active {
    color: #ffffff;
  }

/*-- Hero Unit Styles--*/
header {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: auto;
  }
  header img {
    width: 100%;
    margin: 0 auto;
  }
  header h1 {
    margin: auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .small {
    margin-top: 1em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: smaller;
  }
  .large {
    margin-top: 1em;
    font-weight: 1200;
    font-family: 'Lato', sans-serif;
    font-size: larger;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*-- Banner below hero Unit Styles--*/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    text-align: center;
    background-color:blanchedalmond;
}

/*--Article Styles--*/
.artChunks {
  display: flex;
  padding: 1em;
  flex-direction: row;
}

article figure {
  display: flex;  
  flex-direction: column;
  width: 30%;
  margin: 0% 2.5% 0% 7.5%;
  float: right;
  }

  .artFigText{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0% 7.5% 0% 2.5%;
    float: left;
  }

@media screen and (max-width: 768px) {
  .artChunks {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  article figure {
    margin: 0 0 0 0;
  }

  .artFigText{
    margin: 0 0 0 0;
  }
}

.learnMore{
text-align: center;
background-color: blanchedalmond;
padding: 0.7em 0 0 0;
}

.learnMoreText{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0% 0% 2.5% 0%;
}

.newsHeader{
  display: flex;
  justify-content: center;
  padding: 
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.1em 0 1.5em 0;

  & > input {
    flex: 1 1 10ch;
    margin: 0.5rem;

    &[type='email'] {
      flex: 3 1 30ch;
    }
  }
}

footer{
  padding: 0.6em;
  text-align: center;
}
